<module>
	<rawname>dashboard</rawname>
	<repo>standard</repo>
	<name>System Dashboard</name>
	<version>12.0.1</version>
	<publisher>FreePBX</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Reports</category>
	<description>
		Provides a system information dashboard, showing information about Calls, CPU, Memory, Disks, Network, and processes.
	</description>
	<menuitems>
		<dashboard display="index" access="all">System Status</dashboard>
	</menuitems>
	<depends>
		<version>12.0</version>
	</depends>
	<changelog>
		*12.0.1* Initial checkin of new dashboard for FreePBX 12!
	</changelog>
	<supported>
		<version>12.0</version>
	</supported>
	<location></location>
	<md5sum></md5sum>
</module>
