<module>
	<rawname>dashboard</rawname>
	<repo>standard</repo>
	<name>System Dashboard</name>
	<version>2.11.0.0</version>
	<publisher>FreePBX</publisher>
	<license>GPLv2+</license>
	<candisable>no</candisable>
	<canuninstall>no</canuninstall>
	<category>Reports</category>
	<description>
		Provides a system information dashboard, showing information about Calls, CPU, Memory, Disks, Network, and processes.
	</description>
	<menuitems>
		<dashboard display="index" access="all">FreePBX System Status</dashboard>
	</menuitems>
	<depends>
		<version>2.3.0beta2</version>
	</depends>
	<changelog>
		*2.11.0.0* bump to 2.11
		*2.10.0.3* #5292, #5145
		*2.10.0.2* #5478 
		*2.10.0.1* remove FOP specific code
		*2.10.0.0* new version changes
	</changelog>
	<location>release/2.10/dashboard-2.10.0.3.tgz</location>
	<md5sum>42b019f6ea20e7b0bf58ec3b1c954c62</md5sum>
</module>
